<div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePasswordModalLabel">{{ translate('profile:update_password') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="passwordForm">
                    <div class="mb-3">
                        <label for="currentPassword"
                               class="form-label">{{ translate('profile:current_password') }}</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">{{ translate('profile:new_password') }}</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle me-1"></i> {{ translate('close') }}
                </button>
                <button type="button" class="btn btn-primary update-password">
                    <i class="bi bi-check2-circle me-1"></i> {{ translate('save_changes') }}
                </button>
            </div>
        </div>
    </div>
</div>
