<a type="button" class="btn --add-catalog-entity {{ button.button_class }}"
   title="{{ button.name }}" {{ button.attr| raw }}
   target-id="{{ id }}" action="{{ button.name }}">{{ button.text | raw }}</a>
