{% block content %}
    <div class="container content-body">
        {{ form_start(form, {'attr': {'action': form_action, 'id': form_id?? 'entity_form'}}) }}

        {{ form_errors(form) }}

        {{ csrf.fields | raw }}


        {% set nonFormFieldErrors = [] %}
        {% for errorKey, errorMessage in errors %}
            {% if errorKey not in form.children|keys %}
                {% set nonFormFieldErrors = nonFormFieldErrors|merge([errorMessage]) %}
            {% endif %}
        {% endfor %}

        {% if nonFormFieldErrors is not empty %}
            <div class="commmon-form-errors mb-3">
                {% for _error in nonFormFieldErrors %}
                    <div class="invalid-feedback d-block">
                        {{ _error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% for child in form.children %}
            <div class="mb-3">
                {{ form_label(child, '', {'label_attr' : {'class' : 'form-label'}}) }}

                {% set _value = (old[form.vars.name][child.vars.name] is defined) ?
                    old[form.vars.name][child.vars.name] : child.vars.value ?? null %}
                {% set attributes = child.vars.attr.class|default('') %}
                {% if attributes is not defined  or 'not-form-control' not in attributes|split(' ') %}
                    {{ form_widget(child, {'attr' : {'class' : 'form-control', 'value' : _value}}) }}
                {% else %}
                    {{ form_widget(child) }}
                {% endif %}
                {% if errors[child.vars.name] is not empty %}
                    <div class="invalid-feedback d-block">
                        {{ errors[child.vars.name] }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        {{ form_end(form) }}
    </div>
{% endblock %}
