<div class="--catalog-buttons-group" target-id="{{ id }}">
    {#    {% if edit %} #}
    {#        <button type="button" class="btn btn-primary">{{ translate('edit') }}</button> #}
    {#    {% endif %} #}
    {#    {% if copy %} #}
    {#        <button type="button" class="btn btn-primary">{{ translate('copy') }}</button> #}
    {#    {% endif %} #}
    {#    {% if delete %} #}
    {#        <button type="button" class="btn btn-primary">{{ translate('delete') }}</button> #}
    {#    {% endif %} #}
    {% for button in buttons %}
        <a type="button" class="btn --catalog-buttons-action {{ button.button_class }}" title="{{ button.name }}"
           target-id="{{ id }}" action="{{ button.name }}">
            <i class="{{ button.icon }}"></i></a>
    {% endfor %}
</div>