<div class="--catalog-buttons-group" target-id="{{ id }}">
    {% for button in buttons %}
        <a type="button" class="btn --catalog-buttons-action {{ button.button_class }}" title="{{ button.name }}"
           target-id="{{ id }}" action="{{ button.name }}">
            <i class="{{ button.icon }}"></i></a>
    {% endfor %}
</div>