{% extends 'layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ translate('administrating') }}{% endblock %}

{% block content %}
    <header id="page-header" class="header-maxwidth d-print-none">
        <div class="w-100" id="yui_3_17_2_1_1715025578563_35">
            <div class="d-flex flex-wrap">
                <h1 class="h2">{{ header }}</h1>
            </div>
        </div>
    </header>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
                {% if backButton %}
                    <li class="nav-item" role="presentation">
                        <a href="{{ backButton.url }}" class="nav-link"
                           tabindex="-1">{{ backButton.text }}</a>
                    </li>
                {% endif %}
                {% for category in categories %}
                    {% set isActive = (current_category == category.name) %}
                    <li class="nav-item" role="presentation">
                        <a href="#tabs-{{ category.name }}" class="nav-link {% if isActive %}active{% endif %}"
                           data-bs-toggle="tab" aria-selected="false" role="tab"
                           tabindex="-1">{{ category.visibleName }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                {% for category in categories %}
                    {% set isActive = (current_category == category.name) %}
                    <div class="tab-pane {% if isActive %}active{% endif %}" id="tabs-{{ category.name }}"
                         role="tabpanel">
                        <h4>{{ category.visibleName }}</h4>
                        <div class="row">
                            {% for child in category.children %}
                                <div class="col-sm-3">
                                    <h4><a href="{{ child.get_settings_page_url() }}">{{ child.visibleName }}</a>
                                    </h4>
                                </div>
                                <div class="col-sm-9">
                                    <ul class="list-unstyled">
                                        {% macro renderCategory(child, level = 0) %}
                                            {% for subchild in child.children %}
                                                <li style="margin-left: {{ level * 20 }}px;"><a href="{{ subchild.get_settings_page_url() }}">
                                                        {% if subchild.is_category|default(false) %}
                                                            <strong>{{ subchild.visibleName }}</strong>
                                                        {% else %}
                                                            {{ subchild.visibleName }}
                                                        {% endif %}
                                                    </a></li>
                                                {% if subchild.children is not empty %}
                                                    {{ _self.renderCategory(subchild, level + 1) }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endmacro %}
                                        {{ _self.renderCategory(child) }}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
